<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CS:GO Lobby Tracker{% endblock %}</title>

        <link rel="stylesheet" href="/assets/bootstrap.min.css" />
        <script src="/assets/bootstrap.bundle.min.js"></script>
    </head>
    <body data-bs-theme="dark" class="bg-body-tertiary">
        {% block body %}
            {% block navbar %}
                <header>
                    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{{ path('app_home') }}">CS:GO Lobby Tracker</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_home') }}">List</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_manage_players') }}">Manage Players</a>
                                    </li>
                                </ul>

                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="{{ app.user.avatarUrl }}" alt="{{ app.user.personaName }}" width="32" height="32" class="rounded-circle me-2">
                                        <strong>{{ app.user.personaName }}</strong>
                                    </a>
                                    <ul class="dropdown-menu text-small shadow">
                                        <li>
                                            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://steamcommunity.com/profiles/{{ app.user.userIdentifier }}">
                                                Profile
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
            {% endblock %}

            <main class="pt-5 mt-3">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </main>
        {% endblock %}
    </body>
</html>
